### JAI SHREE RAM

Stage 2: Predicting Length of Stay

In [202]:
import pandas as pd
import numpy as np

In [203]:
#import admisson data
df = pd.read_csv('admission_data.csv')

In [204]:
df

,PID,AGE,GENDER,SMOKING,ALCOHOL,HTN,CAD,PRIOR CMP,HB,TLC,...,VT,PSVT,CONGENITAL,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION,TARGET
0,506,50,M,0,0,1,1,0,13.1,10.5,...,0,0,0,0,0,0,0,0,0,4
1,798,71,M,0,0,0,1,0,12.9,8.5,...,0,0,0,0,0,0,0,0,0,2
2,798,71,M,0,0,0,1,0,12.9,8.5,...,0,0,0,0,0,0,0,0,0,2
3,798,72,M,0,0,0,1,0,11.4,6.6,...,0,0,0,0,0,0,0,0,0,6
4,989,71,M,0,0,1,1,0,10.7,14.1,...,0,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15752,4888286,68,M,0,0,0,1,0,12.2,6.7,...,0,0,0,0,0,0,0,0,0,5
15753,4888926,65,F,0,0,1,1,0,11.3,11.3,...,0,0,0,0,0,0,0,0,0,2
15754,5711587,60,F,0,0,0,0,1,10.1,9.8,...,0,0,0,0,0,0,0,0,0,11
15755,6408503,68,F,0,0,0,1,0,9.8,17.3,...,0,0,0,0,0,0,1,0,0,11
15756,NILL,30,M,0,0,0,1,0,13.8,10.4,...,0,0,0,0,0,0,0,0,0,5

In [205]:
#find correlation between all the variables
corr_matrix = df.corr()
#remove correlated variables above 0.80
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(bool))
# Find features with correlation greater than 0.80
to_drop = [column for column in upper.columns if any(upper[column] > 0.80)]
# Drop features 
df.drop(to_drop, axis=1, inplace=True)

C:\Users\purja\AppData\Local\Temp\ipykernel_8852\997048037.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_matrix = df.corr()

In [206]:
#list unique values in chest infection
df['CHEST INFECTION'].unique()
#drop rows with '\\' in chest infection
df = df[df['CHEST INFECTION'] != '\\']

In [207]:
df.dropna(inplace=True)
df = df[df['PID'] != 'NILL']
df = df[(df != 'EMPTY').all(1)]
df['GENDER'] = np.where(df['GENDER'] == 'M', 1, 0)
#convert PID to int
df['PID'] = df['PID'].astype(int)
#convert HB and TLC to float 
df['HB'] = df['HB'].astype(float)
df['TLC'] = df['TLC'].astype(float)
#convert Platelets, glucose and chest infection to int
# df['PLATELETS'] = df['PLATELETS'].astype(float)
# df['GLUCOSE'] = df['GLUCOSE'].astype(float)
df['CHEST INFECTION'] = df['CHEST INFECTION'].astype(int)

C:\Users\purja\AppData\Local\Temp\ipykernel_8852\1421068524.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [208]:
df.dtypes

PID                            int32
AGE                            int64
GENDER                         int32
SMOKING                        int64
ALCOHOL                        int64
HTN                            int64
CAD                            int64
PRIOR CMP                      int64
HB                           float64
TLC                          float64
PLATELETS                     object
GLUCOSE                       object
RAISED CARDIAC ENZYMES         int64
SEVERE ANAEMIA                 int64
ANAEMIA                        int64
STABLE ANGINA                  int64
ACS                            int64
STEMI                          int64
ATYPICAL CHEST PAIN            int64
HEART FAILURE                  int64
VALVULAR                       int64
CHB                            int64
SSS                            int64
AF                             int64
VT                             int64
PSVT                           int64
CONGENITAL                     int64
NEURO CARDIOGENIC SYNCOPE      int64
ORTHOSTATIC                    int64
CARDIOGENIC SHOCK              int64
SHOCK                          int64
PULMONARY EMBOLISM             int64
CHEST INFECTION                int32
TARGET                         int64
dtype: object

In [209]:
#list unique values and counts of PID in descending order
df['PID'].value_counts()
#find range of PID
print(df['PID'].max())
df['PID'].min()

5711587

506

In [210]:
#check if input PID already exists in DF return TARGET variable
def check_pid(pid):
    if pid in df['PID'].values:
        #return mean of all values for PID
        return df[df['PID'] == pid]['TARGET'].mean().round()
    else:
        return 0

In [211]:
#regression model
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

#split data into train and test and drop Target and PID variable from X
X = df.drop(['TARGET'], axis=1)
y = df['TARGET']

In [212]:
#fit the model
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)
model = LinearRegression().fit(X_train, y_train)
#predict the model and convert to int 
# y_pred = model.predict(X_test)

In [213]:
#list data types
df.dtypes

PID                            int32
AGE                            int64
GENDER                         int32
SMOKING                        int64
ALCOHOL                        int64
HTN                            int64
CAD                            int64
PRIOR CMP                      int64
HB                           float64
TLC                          float64
PLATELETS                     object
GLUCOSE                       object
RAISED CARDIAC ENZYMES         int64
SEVERE ANAEMIA                 int64
ANAEMIA                        int64
STABLE ANGINA                  int64
ACS                            int64
STEMI                          int64
ATYPICAL CHEST PAIN            int64
HEART FAILURE                  int64
VALVULAR                       int64
CHB                            int64
SSS                            int64
AF                             int64
VT                             int64
PSVT                           int64
CONGENITAL                     int64
NEURO CARDIOGENIC SYNCOPE      int64
ORTHOSTATIC                    int64
CARDIOGENIC SHOCK              int64
SHOCK                          int64
PULMONARY EMBOLISM             int64
CHEST INFECTION                int32
TARGET                         int64
dtype: object

In [ ]:
import tensorflow as tf
from tensorflow.keras import backend
from tensorflow.keras import models, regularizers, layers, optimizers, losses, metrics
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
# Training the network
modell = models.Sequential()
cols = X_train.shape[1]
input_shape = (cols,)
modell.add(layers.Dense(1024, activation='relu', kernel_regularizer=regularizers.l2(0.001), input_shape=input_shape))
# model.add(layers.BatchNormalization())
modell.add(layers.Dense(1024, activation='relu', kernel_regularizer=regularizers.l2(0.001)))
modell.add(layers.Dropout(0.2))
modell.add(layers.Dense(1024, activation='relu', kernel_regularizer=regularizers.l2(0.001)))
modell.add(layers.Dropout(0.2))
modell.add(layers.Dense(1024, activation='relu', kernel_regularizer=regularizers.l2(0.001)))
modell.add(layers.Dropout(0.2))
modell.add(layers.Dense(1, activation='relu'))
print(modell.summary())

# FIT / TRAIN model on training daa
NumEpochs = 20
BatchSize = 8

X_train = np.asarray(X_train).astype('float32')
# Compile the model and fit it on the training data
modell.compile(optimizer=optimizers.Adam(lr=1e-4), loss='mean_absolute_error', metrics=['mae'])
history = modell.fit(X_train, y_train, epochs=NumEpochs, batch_size=BatchSize, validation_data=(X_test, y_test))

# Predicting on the test dataset
results = modell.evaluate(X_test, y_test)
print("_"*100)
print("Test Loss and MAE")
print("results ", results)

In [214]:
from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score
y_pred = model.predict(X_test).astype(int).round()
y_pred.shape
#call check_pid function to check if PID already exists in DF for every row in y_pred
for i in range(len(X_test)):
    y_pred[i] = ((y_pred[i] + check_pid(X_test.iloc[i]['PID']))/2).round()

print(y_pred)
score = r2_score(y_test, y_pred)
print(score)

[8 9 6 ... 7 8 6]
0.6847353571088057

In [ ]:
# #predict the model
# test = np.array([989,71,1,0,0,1,1,0,10.7,14.1,227,253,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0])
# test = test.reshape(1, -1)
# pid = 989
# y_pred = model.predict(test).astype(int).round()
# ((y_pred[0] + check_pid(pid))/2).round()

In [233]:
#append X_test and y_test to df
df_test = X_test
df_test['LOS'] = y_pred

In [234]:
df_test

,PID,AGE,GENDER,SMOKING,ALCOHOL,HTN,CAD,PRIOR CMP,HB,TLC,...,VT,PSVT,CONGENITAL,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION,LOS
12775,602495,82,0,0,0,1,1,0,11.8,10.1,...,0,0,0,0,0,0,0,0,0,8
14935,670926,65,1,0,0,1,1,0,8.7,15.6,...,0,0,0,0,0,0,0,0,0,9
4006,280038,53,0,0,0,1,1,0,13.9,12.5,...,0,0,0,0,0,0,0,0,0,6
15095,675773,62,1,0,0,1,1,0,9.4,16.7,...,0,0,0,0,0,0,0,0,0,8
5078,315883,60,1,0,0,0,0,1,13.8,14.4,...,0,0,0,0,0,0,0,1,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6029,351289,66,0,0,0,1,0,1,12.7,9.2,...,0,0,0,0,0,0,0,0,0,6
7660,399243,45,1,0,1,0,0,1,13.8,7.0,...,0,0,0,0,0,0,0,0,0,6
9509,465403,42,1,1,1,1,1,0,16.9,12.6,...,0,0,0,0,0,0,0,0,0,7
8762,438244,60,1,0,0,1,1,0,12.6,8.0,...,0,0,0,0,0,0,0,0,0,8
15709,708611,67,0,0,0,1,1,0,11.1,8.8,...,0,0,0,0,0,0,0,0,0,6

In [235]:
#randomly select 29 rows from df_test
df_test = df_test.sample(n=43)

In [236]:
df_test

,PID,AGE,GENDER,SMOKING,ALCOHOL,HTN,CAD,PRIOR CMP,HB,TLC,...,VT,PSVT,CONGENITAL,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION,LOS
13545,629532,57,1,0,0,1,0,0,11.2,16.9,...,1,0,0,0,0,0,0,0,0,6
11753,560725,49,1,0,0,0,1,0,14.9,9.1,...,0,0,0,0,0,0,0,0,0,7
15493,691331,67,0,0,0,0,0,1,11.0,10.2,...,0,0,0,0,0,0,0,0,0,7
7835,405568,63,1,0,0,0,1,0,14.9,11.9,...,0,0,0,0,0,0,0,0,0,4
9030,448255,35,1,0,0,0,1,0,11.1,9.1,...,0,0,0,0,0,0,0,0,0,21
3973,279527,68,1,0,0,1,1,1,16.0,8.1,...,0,0,0,0,0,0,0,0,0,6
6239,357648,50,0,0,0,0,0,0,12.0,16.0,...,0,0,0,0,0,0,0,0,0,8
10324,497388,62,1,0,0,0,0,0,12.3,11.1,...,0,0,0,0,0,0,0,0,0,5
6876,379146,61,1,1,1,1,1,0,11.1,10.2,...,0,0,0,0,0,0,0,0,0,6
12928,607502,72,1,0,0,0,1,0,11.1,3.5,...,0,0,0,0,0,0,0,0,0,4
4880,308625,63,1,0,0,1,0,0,9.1,8.5,...,0,0,0,0,0,0,0,0,0,5
11242,536948,68,1,0,0,0,0,0,8.5,8.0,...,0,0,0,0,0,0,0,0,0,6
10504,505230,48,1,1,0,1,1,0,14.7,14.8,...,0,0,0,0,0,0,0,0,0,4
4029,280638,88,1,0,0,1,1,0,12.6,10.4,...,0,0,0,0,0,0,0,0,1,5
5712,340627,46,0,0,0,1,1,0,12.9,6.8,...,0,0,0,0,0,0,0,0,0,4
8669,435450,78,1,0,0,1,1,0,10.4,9.2,...,0,0,0,0,0,0,0,0,0,8
9752,473962,53,1,1,0,1,1,0,15.4,16.9,...,0,0,0,0,0,0,0,0,0,4
9423,461822,70,1,0,0,1,1,0,16.0,16.8,...,0,0,0,0,0,0,0,0,0,8
11984,571880,50,1,0,1,1,1,0,14.6,5.3,...,0,0,0,0,0,0,0,0,0,3
3941,278758,75,1,0,0,0,1,0,13.1,11.8,...,0,0,0,0,0,0,0,0,0,7
4746,304629,60,1,1,1,0,1,1,11.4,7.1,...,0,0,0,0,0,0,1,0,0,6
14858,668554,71,1,0,0,0,1,1,6.2,24.5,...,1,0,0,0,0,1,1,0,0,8
9780,474765,80,0,0,0,0,1,0,12.4,12.5,...,1,0,0,0,0,0,0,0,0,11
5448,331821,55,0,0,0,1,1,1,11.1,7.0,...,0,0,0,0,0,0,0,0,0,4
1111,151742,54,0,0,0,1,1,1,8.5,8.0,...,0,0,0,0,0,0,0,0,0,7
6844,378154,66,1,0,0,1,1,0,15.1,9.6,...,0,0,0,0,0,0,0,0,1,7
301,48098,65,0,0,0,1,1,0,12.4,7.1,...,0,0,0,0,0,0,0,0,0,5
6007,350561,52,1,1,1,1,1,0,17.4,16.6,...,0,0,0,0,0,0,0,0,0,6
13867,639260,57,0,0,0,0,0,0,11.9,12.5,...,0,0,0,0,0,0,0,0,0,6
6523,365915,42,0,0,0,1,0,0,15.0,10.4,...,0,0,0,0,0,0,0,0,0,4
14887,669475,52,0,0,0,0,0,1,10.2,12.2,...,0,0,0,0,0,0,0,0,0,8
178,33713,56,1,0,1,1,1,0,14.1,7.4,...,0,0,0,0,0,0,0,0,0,8
14763,665357,42,1,0,0,0,0,0,14.7,12.5,...,0,0,0,0,0,0,0,0,0,5
6069,352377,67,0,0,0,1,1,0,11.4,13.8,...,0,0,0,0,0,0,0,0,0,6
7749,402220,25,0,0,0,0,0,0,11.7,12.7,...,1,0,0,0,0,0,0,0,0,10
8691,435904,69,1,1,0,0,1,0,13.7,11.4,...,0,0,0,0,0,0,0,0,0,3
3985,279666,68,1,0,0,0,0,0,15.4,11.0,...,0,0,0,0,0,0,0,0,0,11
6230,357101,60,1,0,0,1,1,0,11.8,15.6,...,0,0,1,0,0,0,0,0,0,6
7885,407284,68,1,0,0,1,1,0,13.3,7.7,...,0,0,0,0,0,0,0,0,0,2
7942,409156,37,1,1,0,0,1,0,13.4,10.0,...,0,0,0,0,0,0,0,0,0,9
1746,173230,56,0,0,0,1,1,0,12.0,10.7,...,0,0,0,0,0,0,0,0,0,4
1509,164603,76,1,0,0,1,1,0,10.8,22.3,...,0,0,0,0,0,0,0,0,0,8
9658,470646,57,0,0,0,0,0,0,11.6,8.4,...,0,0,0,0,0,0,0,0,0,6

In [237]:
#read isAdmitted data
df_admitted = pd.read_csv('isAdmitted.csv')
df_admitted.drop(['Unnamed: 0'], axis=1, inplace=True)
df_admitted

    Predicted  Urgency Score
0           1       0.986587
1           1       0.970943
2           1       0.951988
3           1       0.943976
4           1       0.939065
5           1       0.938578
6           1       0.934265
7           1       0.927789
8           1       0.920569
9           1       0.914812
10          1       0.896367
11          1       0.893765
12          1       0.888548
13          1       0.860585
14          1       0.819863
15          1       0.819258
16          1       0.813892
17          1       0.810834
18          1       0.807414
19          1       0.803104
20          1       0.788600
21          1       0.784347
22          1       0.766209
23          1       0.746250
24          1       0.739912
25          1       0.716184
26          1       0.699107
27          1       0.688638
28          1       0.655590
29          1       0.655311
30          1       0.643060
31          1       0.628135
32          1       0.627767
33          1       0.625296
34          1       0.613654
35          1       0.606868
36          1       0.604205
37          1       0.601093
38          1       0.578238
39          1       0.567810
40          1       0.567805
41          1       0.527647
42          1       0.527497

In [238]:
PID = df_test['PID']
PID = PID.to_numpy()

#append PID to df_admitted
df_admitted['PID'] = PID

In [239]:
df_admitted

    Predicted  Urgency Score     PID
0           1       0.986587  629532
1           1       0.970943  560725
2           1       0.951988  691331
3           1       0.943976  405568
4           1       0.939065  448255
5           1       0.938578  279527
6           1       0.934265  357648
7           1       0.927789  497388
8           1       0.920569  379146
9           1       0.914812  607502
10          1       0.896367  308625
11          1       0.893765  536948
12          1       0.888548  505230
13          1       0.860585  280638
14          1       0.819863  340627
15          1       0.819258  435450
16          1       0.813892  473962
17          1       0.810834  461822
18          1       0.807414  571880
19          1       0.803104  278758
20          1       0.788600  304629
21          1       0.784347  668554
22          1       0.766209  474765
23          1       0.746250  331821
24          1       0.739912  151742
25          1       0.716184  378154
26          1       0.699107   48098
27          1       0.688638  350561
28          1       0.655590  639260
29          1       0.655311  365915
30          1       0.643060  669475
31          1       0.628135   33713
32          1       0.627767  665357
33          1       0.625296  352377
34          1       0.613654  402220
35          1       0.606868  435904
36          1       0.604205  279666
37          1       0.601093  357101
38          1       0.578238  407284
39          1       0.567810  409156
40          1       0.567805  173230
41          1       0.527647  164603
42          1       0.527497  470646

In [240]:
#merge df_test and df_admitted
df_test = pd.merge(df_test, df_admitted, on='PID', how='right')

In [241]:
df_test['Length of Stay'] = df_test['LOS']

In [242]:
df_test.drop(['LOS'], axis=1, inplace=True)

In [244]:
#urgency score * 100
df_test['Urgency Score'] = df_test['Urgency Score'] * 100
df_test

,PID,AGE,GENDER,SMOKING,ALCOHOL,HTN,CAD,PRIOR CMP,HB,TLC,...,CONGENITAL,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION,Predicted,Urgency Score,Length of Stay
0,629532,57,1,0,0,1,0,0,11.2,16.9,...,0,0,0,0,0,0,0,1,98.658681,6
1,560725,49,1,0,0,0,1,0,14.9,9.1,...,0,0,0,0,0,0,0,1,97.094252,7
2,691331,67,0,0,0,0,0,1,11.0,10.2,...,0,0,0,0,0,0,0,1,95.198834,7
3,405568,63,1,0,0,0,1,0,14.9,11.9,...,0,0,0,0,0,0,0,1,94.397562,4
4,448255,35,1,0,0,0,1,0,11.1,9.1,...,0,0,0,0,0,0,0,1,93.906534,21
5,279527,68,1,0,0,1,1,1,16.0,8.1,...,0,0,0,0,0,0,0,1,93.857752,6
6,357648,50,0,0,0,0,0,0,12.0,16.0,...,0,0,0,0,0,0,0,1,93.426457,8
7,497388,62,1,0,0,0,0,0,12.3,11.1,...,0,0,0,0,0,0,0,1,92.778947,5
8,379146,61,1,1,1,1,1,0,11.1,10.2,...,0,0,0,0,0,0,0,1,92.056868,6
9,607502,72,1,0,0,0,1,0,11.1,3.5,...,0,0,0,0,0,0,0,1,91.481225,4
10,308625,63,1,0,0,1,0,0,9.1,8.5,...,0,0,0,0,0,0,0,1,89.636682,5
11,536948,68,1,0,0,0,0,0,8.5,8.0,...,0,0,0,0,0,0,0,1,89.376531,6
12,505230,48,1,1,0,1,1,0,14.7,14.8,...,0,0,0,0,0,0,0,1,88.854823,4
13,280638,88,1,0,0,1,1,0,12.6,10.4,...,0,0,0,0,0,0,1,1,86.058537,5
14,340627,46,0,0,0,1,1,0,12.9,6.8,...,0,0,0,0,0,0,0,1,81.986339,4
15,435450,78,1,0,0,1,1,0,10.4,9.2,...,0,0,0,0,0,0,0,1,81.925828,8
16,473962,53,1,1,0,1,1,0,15.4,16.9,...,0,0,0,0,0,0,0,1,81.389244,4
17,461822,70,1,0,0,1,1,0,16.0,16.8,...,0,0,0,0,0,0,0,1,81.083386,8
18,571880,50,1,0,1,1,1,0,14.6,5.3,...,0,0,0,0,0,0,0,1,80.741381,3
19,278758,75,1,0,0,0,1,0,13.1,11.8,...,0,0,0,0,0,0,0,1,80.310429,7
20,304629,60,1,1,1,0,1,1,11.4,7.1,...,0,0,0,0,1,0,0,1,78.859980,6
21,668554,71,1,0,0,0,1,1,6.2,24.5,...,0,0,0,1,1,0,0,1,78.434659,8
22,474765,80,0,0,0,0,1,0,12.4,12.5,...,0,0,0,0,0,0,0,1,76.620944,11
23,331821,55,0,0,0,1,1,1,11.1,7.0,...,0,0,0,0,0,0,0,1,74.624983,4
24,151742,54,0,0,0,1,1,1,8.5,8.0,...,0,0,0,0,0,0,0,1,73.991171,7
25,378154,66,1,0,0,1,1,0,15.1,9.6,...,0,0,0,0,0,0,1,1,71.618424,7
26,48098,65,0,0,0,1,1,0,12.4,7.1,...,0,0,0,0,0,0,0,1,69.910688,5
27,350561,52,1,1,1,1,1,0,17.4,16.6,...,0,0,0,0,0,0,0,1,68.863771,6
28,639260,57,0,0,0,0,0,0,11.9,12.5,...,0,0,0,0,0,0,0,1,65.559005,6
29,365915,42,0,0,0,1,0,0,15.0,10.4,...,0,0,0,0,0,0,0,1,65.531069,4
30,669475,52,0,0,0,0,0,1,10.2,12.2,...,0,0,0,0,0,0,0,1,64.305983,8
31,33713,56,1,0,1,1,1,0,14.1,7.4,...,0,0,0,0,0,0,0,1,62.813549,8
32,665357,42,1,0,0,0,0,0,14.7,12.5,...,0,0,0,0,0,0,0,1,62.776710,5
33,352377,67,0,0,0,1,1,0,11.4,13.8,...,0,0,0,0,0,0,0,1,62.529630,6
34,402220,25,0,0,0,0,0,0,11.7,12.7,...,0,0,0,0,0,0,0,1,61.365404,10
35,435904,69,1,1,0,0,1,0,13.7,11.4,...,0,0,0,0,0,0,0,1,60.686807,3
36,279666,68,1,0,0,0,0,0,15.4,11.0,...,0,0,0,0,0,0,0,1,60.420499,11
37,357101,60,1,0,0,1,1,0,11.8,15.6,...,1,0,0,0,0,0,0,1,60.109251,6
38,407284,68,1,0,0,1,1,0,13.3,7.7,...,0,0,0,0,0,0,0,1,57.823810,2
39,409156,37,1,1,0,0,1,0,13.4,10.0,...,0,0,0,0,0,0,0,1,56.781038,9
40,173230,56,0,0,0,1,1,0,12.0,10.7,...,0,0,0,0,0,0,0,1,56.780499,4
41,164603,76,1,0,0,1,1,0,10.8,22.3,...,0,0,0,0,0,0,0,1,52.764745,8
42,470646,57,0,0,0,0,0,0,11.6,8.4,...,0,0,0,0,0,0,0,1,52.749745,6

Stage 3: Estimating number of beds

In [370]:
def sort_queue(df):
    df = df.sort_values(by=['Urgency Score'], ascending=False)
    return df

In [368]:
totalbeds = 450
filledbeds = 420

#queue of urgency score and LOS only 20 rows from df_test
new = 0
new+=20
queue = df_test[['Urgency Score', 'Length of Stay']].head(new).to_numpy()

#add another column with value 0
queue = np.insert(queue, 2, 0, axis=1)
beds = np.zeros(450)
#make 400 in beds 1
for i in range(filledbeds):
    beds[i] = 1
i+=1
days = 1
while True: #real time
    print("Day No.: ",days)
    
    #decrement LOS by 1 for every patient with a bed
    for j in range(len(queue)):
        if queue[j,2] == 1:
            queue[j,1] -= 1
            #keep max of 0 or queue[j,1]
            if queue[j,1] < 0:
                queue[j,1] = 0
            #if LOS is 0, release the bed
            if queue[j,1] == 0:
                print("Released bed is: ", j+1)
                # beds[filledbeds+j] = 0
                i-=1
                queue[j,2] = -1 #discharged

    print("No. of beds available: ",450-i)
    #check if any patient does not have a bed and find the patient with highest urgency score
    while True:
        if i < 450:
            for j in range(len(queue)):
                if queue[j,2] == 0:
                    maxi = j
                    break
            if queue[maxi,2] == 0:
                # beds[i] = 1
                queue[maxi,2] = 1
                print("Bed filled for patient: ", maxi+1, " with urgency score: ", queue[maxi,0])
                i+=1
                #end loop if all patients are discharged
                if np.count_nonzero(queue[:,2] == 1) + np.count_nonzero(queue[:,2] == -1) == len(queue):
                    break
        else:
            break
    # print(queue)
    
    #print a new line
    print()
    days+=1
    #select next 10 rows from df_test
    if (new > len(df_test)):
        queue_new = df_test[['Urgency Score', 'Length of Stay']].iloc[new:].to_numpy()
        queue_new = np.insert(queue_new, 2, 0, axis=1)
        queue = np.concatenate((queue, queue_new), axis=0)
        
    else:
        queue_new = df_test[['Urgency Score', 'Length of Stay']].iloc[new:new+10].to_numpy()
        queue_new = np.insert(queue_new, 2, 0, axis=1)
        queue = np.concatenate((queue, queue_new), axis=0)
        new+=10
    
    #check if queue[:,2] is all 1 or -1
    if np.count_nonzero(queue[:,2] == 1) + np.count_nonzero(queue[:,2] == -1) == len(queue):
        break

print(days-1)

Day No.:  1
No. of beds available:  30
Bed filled for patient:  1  with urgency score:  98.65868056561786
Bed filled for patient:  2  with urgency score:  97.09425175571175
Bed filled for patient:  3  with urgency score:  95.19883355558828
Bed filled for patient:  4  with urgency score:  94.39756224096548
Bed filled for patient:  5  with urgency score:  93.9065339860748
Bed filled for patient:  6  with urgency score:  93.85775213254229
Bed filled for patient:  7  with urgency score:  93.42645706698916
Bed filled for patient:  8  with urgency score:  92.77894671221819
Bed filled for patient:  9  with urgency score:  92.05686810506802
Bed filled for patient:  10  with urgency score:  91.48122522737741
Bed filled for patient:  11  with urgency score:  89.63668180262522
Bed filled for patient:  12  with urgency score:  89.37653136324097
Bed filled for patient:  13  with urgency score:  88.85482306852532
Bed filled for patient:  14  with urgency score:  86.05853744652475
Bed filled for patient:  15  with urgency score:  81.98633904692008
Bed filled for patient:  16  with urgency score:  81.9258277197548
Bed filled for patient:  17  with urgency score:  81.38924397614585
Bed filled for patient:  18  with urgency score:  81.08338612042955
Bed filled for patient:  19  with urgency score:  80.74138133552981
Bed filled for patient:  20  with urgency score:  80.31042859800903

Day No.:  2
No. of beds available:  10
Bed filled for patient:  21  with urgency score:  78.85998000056638
Bed filled for patient:  22  with urgency score:  78.43465909587565
Bed filled for patient:  23  with urgency score:  76.62094395846584
Bed filled for patient:  24  with urgency score:  74.62498264395275
Bed filled for patient:  25  with urgency score:  73.99117083598642
Bed filled for patient:  26  with urgency score:  71.61842372565424
Bed filled for patient:  27  with urgency score:  69.91068846532042
Bed filled for patient:  28  with urgency score:  68.86377113559206
Bed filled for patient:  29  with urgency score:  65.55900546663493
Bed filled for patient:  30  with urgency score:  65.53106918526733

Day No.:  3
No. of beds available:  0

Day No.:  4
Released bed is:  19
No. of beds available:  1
Bed filled for patient:  31  with urgency score:  64.30598303006728

Day No.:  5
Released bed is:  4
Released bed is:  10
Released bed is:  13
Released bed is:  15
Released bed is:  17
No. of beds available:  5
Bed filled for patient:  32  with urgency score:  62.81354877132529
Bed filled for patient:  33  with urgency score:  62.7767100788087
Bed filled for patient:  34  with urgency score:  62.529630387445835
Bed filled for patient:  35  with urgency score:  61.36540361186413
Bed filled for patient:  36  with urgency score:  60.68680659456335

Day No.:  6
Released bed is:  8
Released bed is:  11
Released bed is:  14
Released bed is:  24
Released bed is:  30
No. of beds available:  5
Bed filled for patient:  37  with urgency score:  60.42049898219144
Bed filled for patient:  38  with urgency score:  60.10925133881533
Bed filled for patient:  39  with urgency score:  57.823809798006884
Bed filled for patient:  40  with urgency score:  56.78103758844638
Bed filled for patient:  41  with urgency score:  56.78049870500058

Day No.:  7
Released bed is:  1
Released bed is:  6
Released bed is:  9
Released bed is:  12
Released bed is:  27
No. of beds available:  5
Bed filled for patient:  42  with urgency score:  52.76474544856383
Bed filled for patient:  43  with urgency score:  52.74974528226857

7